@tailwind base;
@tailwind components;
@tailwind utilities;


.form-input {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-900 focus:ring-indigo-900 text-sm;
}



.btn {
    @apply relative inline-flex items-center gap-2 px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm duration-300;
}

.btn-icon {
    @apply relative inline-flex items-center gap-1 px-1 py-1 border border-transparent text-sm font-medium rounded-md shadow-sm duration-300;
}

.btn-primary {
    @apply text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
}

.btn-outline-primary {
    @apply text-indigo-700 border border-indigo-500 bg-transparent hover:bg-indigo-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
}

.btn-secondary {
    @apply text-white bg-gray-400 hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-600
}

.btn-outline-secondary {
    @apply text-gray-700 border border-gray-500 bg-transparent hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500
}

.btn-warning {
    @apply text-white bg-yellow-500 hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500
}

.btn-danger {
    @apply text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500
}